<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pagina Principal</title>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 		<%= csrf_meta_tags %>


</head>
<body>
<div style="padding-top: 40px">
	<div class="page-header" >
	  <h4 class="text-center">LO MEJOR DEL ROCK NACIONAL 
	  	<small>sin duda FLOU</small>
	  </h4>
	</div>
</div>
	<div class="container">
		<br>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<!--Indicadores-->
				<ol class="carousel-indicators">
					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-1" data-slide-to="1"></li>
					<li data-target="#carousel-1" data-slide-to="2"></li>
				</ol>

				<!--Contenedor-->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="img/walter.jpeg" class="img-responsive" class="active">
						<div class="carousel-caption">
							<h3>FLOOOUUUUUUUU</h3>
							<p>LO MEJOR DEL ROCK PARAGUAYO</p>
						</div>
					</div>

					<div class="item">						
						<img src="img/bruno.jpeg" class="img-responsive">						
						<div class="carousel-caption">
							<h3>FLOOOUUUUUUUU</h3>
							<p>LO MEJOR DEL ROCK PARAGUAYO</p>
						</div>
					</div>

					<div class="item">
						<img src="img/guille.jpeg" class="img-responsive">						
						<div class="carousel-caption">
							<h3>FLOOOUUUUUUUU</h3>
							<p>LO MEJOR DEL ROCK PARAGUAYO</p>
						</div>
					</div>
				</div>


				<!--Controles-->
				<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Posterior</span>
				</a>

			</div>
		</div>
	</div>

	<div class="navbar navbar-default navbar-fixed-bottom">

		<div class="container">
			<p class="navbar-text pull-left">Contacto</p>
			<!--<a class="navbar-btn btn-danger btn pull-right">Hola quetal</a>-->
		</div>
		
	</div>

	
						

</body>

</html>