<h1 class="text-center text-uppercase espacio">Editar Reserva</h1>
<%= render 'form' %>
<!--
<%= link_to glyph(:remove), @reserva, class: 'btn btn-default btn-sm'  %>
<%= link_to glyph(:arrow_left), reservas_path, class: 'btn btn-primary btn-sm'  %>
-->