<h1>Editar Reserva</h1>

<%= render 'form' %>

<%= link_to 'Mostrar Reservas', @reserva, class: 'btn btn-default btn-xs'  %> |
<%= link_to 'Volver atras', reservas_path, class: 'btn btn-default btn-xs'  %>
