<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="mycss">
					Editar tipo
					<%= link_to glyph(:arrow_left), tipos_path,  class: 'btn btn-default btn-sm' %>
				</h1>
			</div>
		</div>
	</div>
</div>
<%= render 'form' %>

