<h1 class="text-center text-uppercase container">
	Tipos
	<th>
      <%= link_to glyph(:plus), new_tipo_path, class: 'btn btn-primary btn-sm' %>
    </th>
</h1>
<div class="col-md-4 col-md-offset-4">
	<div class=" CSS_Table_Example">
	    <table>
	        <tr>
	          <td>
	          	Nombre
	          </td>
	          <td>
	          	Acciones
	          </td>
	        </tr>
	          <tr>
	            <td><center>
	            	<%= @tipo.nombre %>
	            </td></center>
	            <td><center>
	            	<%= link_to glyph(:pencil), edit_tipo_path(@tipo), class: 'btn btn-warning btn-sm' %>
					<%= link_to glyph(:arrow_left), tipos_path,  class: 'btn btn-info btn-sm' %>
	            </center></td>
	          </tr>
	    </table>
	</div>
</div>