<h1 class="espacio">Tipos</h1>

<!--<p id="notice"><%= notice %></p>-->
<div class="col-md-6 col-md-offset-3">
	<div class="table-responsive">
	    <table class="table table-bordered table-hover">
	      <thead>
	        <tr class="success">
	          <th class="text-center">Nombre</th>
	        </tr>
	      </thead>

	      <tbody>
	          <tr>
	            <td><%= @tipo.nombre %></td>
	          </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-md-4">
		<%= link_to glyph(:pencil), edit_tipo_path(@tipo), class: 'btn btn-warning btn-sm' %>
		<%= link_to glyph(:arrow_left), tipos_path,  class: 'btn btn-primary btn-sm' %>
	</div>
</div>