<h1>Editing Habitacion</h1>

<%= render 'form' %>

<%= link_to glyph(:remove), @habitacion, class: 'btn btn-default btn-sm' %>
<%= link_to glyph(:arrow_left), habitaciones_path, class: 'btn btn-primary btn-sm' %>
