<%= render 'form' %>

<div class="col-md-4">
	<div class="actions">
		<%= link_to '', @habitacion, class: "glyphicon glyphicon-list-alt" %>
		<%= link_to '', habitacion_path, class: "glyphicon glyphicon-chevron-left" %>
	</div>
</div>


