<%= render 'form' %>
<div class="col-md-4">
	<div class="actions">
		<%= link_to glyph(:remove), @locatario, class: 'btn btn-default btn-sm' %>
		<%= link_to glyph(:arrow_left), locatarios_path, class: 'btn btn-primary btn-sm' %>
	</div>
</div>
