<h1 class="container text-center text-uppercase">
  Pago
    <%= link_to glyph(:arrow_left), pagos_path, class: 'btn btn-info btn-sm' %>
</h1>
<div class="col-md-6 col-md-offset-3">
  <div class="CSS_Table_Example">
    <table>
        <tr>
  			<td>Reserva</td>
  			<td>Montoapagar:</td>
  			<td>Acciones</td>       
        </tr>
        <tr>
        	<td><center><%= @pago.reserva_id %></center></td>
        	<td><center><%= @pago.montoapagar %></center></td>
        	<td><center>
              <%= link_to glyph(:pencil), edit_pago_path(@pago), class: 'btn btn-warning btn-sm' %>
          </center></td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>